* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.erro {
    color: red;
    font-weight: bold;
}

.sucesso {
    color: green;
    font-weight: bold;
}
.hidden{
display: none;
}

img{
    width: 300px;
    height: 150px;
    border-radius: 70px;
}
#titulo{
    text-align: center;
}

body{
    background-color: rgb(213, 230, 245);
}
#container{
    width: 85%;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
}
input{
    display: block;
    margin-bottom: 15px;
    width: 100vw;
    box-sizing: border-box;
    max-width: 500px;
    padding-top: 12px;

}

button{
    background-color: #250682;
    color: #fff;
    cursor: pointer;
    width: 20%;
    padding: 0.25rem;
    border-radius: 8px;
}
button:hover{
    background-color: #4711a5;
    transition: 0.3s;
}

#lateral{
     margin-top: 5rem;
    background-color: #ffffff;
    margin-bottom: 20px;
    height:  10vh;
    margin-left: 70%;
    box-shadow: 5px 10px 15px #cfd6ef;
    width: 25%;
    height: 70%;
    text-align: center;
    text-align: justify;
    padding-left: 10px
}
#so{
    text-align: center;
}

.detalhes{
    margin-top: 2rem;
    background-color: white;
    padding-left: 5px;
    padding-top: 5px;
    height:  40vh; 
    box-shadow: 5px 10px 15px #cfd6ef;
    width: 25%;
    height: 75%;
    text-align: center;
    text-align: justify;
    margin-left: 30px;
}